:root {
  --cell-bit-0-opacity: 0.2
  --cell-bit-1-opacity: 1
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@media print {
  .no-print {
    visibility: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.celltableWrapper {
  width: 100px;
  border: 1px solid black;
}

.celltable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    ". a b"
    "c d e"
    "c d e" 
    "f g h"
    "f g h"
}

[data-cell-bit="0"] {
  opacity: var(--cell-bit-0-opacity);
}

[data-cell-bit="1"] {
  opacity: var(--cell-bit-1-opacity);
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  position: relative;
  width: 25px;
  height: 15px;
  border-radius: 10px;
  background-color: #ccc;
  transition: background .3s;
  outline: none;
  cursor: pointer
}

input[type='checkbox']::after {
  content: ''; 
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: .75rem;
  height: .75rem;
  background-color: rgb(255, 255, 255);
  transition: left .3s;
  border: 1px solid #BEBEBE;
}

input[type='checkbox']:checked {
  background-color: #080808;
}

input[type='checkbox']:checked::after {
  left: 70%;
}
 